<%-include('header')-%>

<h2>This is the about page</h2>

<p> asiohoisajhaiosjdoaisjdasjodjoasdjidajiadwijdasjidasjijiadso</p>
<p> asiohoisajhaiosjdoaisjdasjodjoasdjidajiadwijdasjidasjijiadso</p>
<p> asiohoisajhaiosjdoaisjdasjodjoasdjidajiadwijdasjidasjijiadso</p>

<%-include('footer')-%>